* {
    margin:0;
    padding: 0;
    box-sizing: border-box
}
:root {
    --background-intro: #709EA8;
    --background-main: #FBC244;
    --text-color: #3C3C3B;
    --main-color-dark: #3C3C3B;
    --main-color-light: #FFF;
    --city-name-size: 3.8em;
}
html {
    font-family: Montserrat, sans-serif;
}
body {
    background-color: var(--background-main);
}
button {
    cursor: pointer;
}
button:focus {
    outline: 0;
}
/* Loader anumation */
.loader {
    display: flex;
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100vh;
    /* height: calc(var(--vh, 1vh) * 100); */
    background-color: var(--background-intro);
    align-content: center;
    justify-content: center;
    z-index: 100;
    /* transition: visibility 0s, opacity 0.3s; */
}
.loader img {
    animation: spin 3s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.loader--hidden {
    display: none;
    /* visibility: hidden;
    opacity: 0; */
}
.search-btn {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 10;
    padding: 1px;
    border: 1px solid var(--text-color);
    border-radius: 3px;
}
.btn__return i {
    font-size: 1.8em;
    color: var(--text-color);
}
.intro {
    display: flex;
    position: fixed;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    height: 100vh;
    /* height: calc(var(--vh, 1vh) * 100); */
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    background-color: var(--background-intro);
    color: var(--main-color-light);
    z-index: 100;
    transition: visibility 0s, opacity 0.3s;
    
}
.intro--hidden {
    visibility: hidden;
    opacity: 0;

}

.intro img {
    padding-bottom: 40px;
    width: 135px;
}
.intro p {
    font-size: 1.3em;
    font-weight: 200;
    margin: 10px;
}
.intro__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    height: 30px;
    padding: 5px;
    border-bottom: 2px solid var(--main-color-light);
    
}
.search-input {
    background-color: transparent;
    height: 25px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.8em;
    color: var(--main-color-light);
}
.search-input::placeholder {
    color: #ccc;
    font-weight: 300;
}
.search-input:focus {
    outline: none;
}
.btn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5em;
}
.btn i {
    font-size: 1.2em;
}
.btn__geo {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    padding: 7px;
    border-radius: 6px;
    border: 1px solid var(--main-color-light);
}
.btn:hover {

}
.intro .error {
    width: 300px;
    color: rgb(255, 218, 218);
    padding: 10px;
    font-weight: 400;
    margin-top: 10px;
    font-size: 1.5em;
    text-align: center;
}
/* Main section */

.main {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--background-main);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-between;
    font-size: 10px;
    transition: transform 0.5s ease;
}
.main--up {
    transform: translateY(-120%);
    
}
.main__header {
    align-self: center;
    text-align: center;
    margin-top: 20px;
}
.date {
    font-size: 1.2em;
    font-weight: 400;
}
.city-name--main {
     font-size: var(--city-name-size);
     font-weight: 300;
     margin-top: 20px;
}
.today__overall {
    align-self: center;
    text-align: center;
}
.today-icon i {
    font-size: 9em;
}
.today-temp {
    display:flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 30px;
}
.current-temp {
    font-size: 6.4em;
    font-weight: 200;
}
.max-temp, .min-temp {
    font-size: 1.4em;
    font-weight: 400;
}
.today-temp i {
    font-size: 1.8em;
}
.today-cond {
    font-size: 1.7em;

}
.today__sun-path {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.sun-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.3em;
    text-align: center;
}
.btn__arrow-down {
    margin: 0 auto;
    color: var(--text-color);
    font-size: 5em;
    padding-bottom: 10px;
}
.details {
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    background-color: var(--background-main);
    color: var(--text-color);
    transition: transform 0.3s ease;
}
.details--down {
    transform: translateY(120%);
}
.details__top {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.btn__arrow-up {
    margin: 0 auto;
    color: var(--text-color);
    font-size: 5em;
}
.city-name--details {
    font-size: calc(var(--city-name-size)*0.8);
    font-weight: 400;
    line-height: 2;
    width: 200px;
    text-align: center;
    /* border-bottom: 1px solid var(--text-color); */
}
.details__center {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 300px;
    padding: 10px;
}
.details__description {
    font-size: 1.6em;
    line-height: 2;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid var(--text-color);
}
.details__today-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    font-size: 1.6em;
    font-weight: 300;
    margin-top: 10px;
}
.today-item {
    width: 110px;
    justify-self: center;
    /* padding: 15px 20px; */
    /* border-bottom: 1px solid var(--text-color); */
}
.today-item span {
    font-size: 1.1em;
    font-weight: 500;
}
.details__bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    align-content: center;
    margin-bottom: 20px;
}
.next-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid var(--text-color);
}
.next-day:last-child {
    border: none;
}
.next-day__date {
    font-size: 1.3em;
    flex-grow: 1;
    font-weight: 300;
}
.next-day__icon {
    font-size: 2.5em;
    margin: 0 20px;
}
.next-day__temp {
    font-size: 2.1em;
    font-weight: 400;
    width: 45px;
}


.main--hidden, 
.details--hidden {
    display: none;
}

/* Start of media queries */
@media only screen and (min-width: 760px) and  (orientation: portrait) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    .main, .main--up {
        position: static;
        transform: none;
        height: 70vh;
        height: calc(var(--vh, 1vh) * 70);
        padding-bottom: 30px;
    }
    .today {
        width: 50%;
        margin: 0 auto;

    }
    .sun-values {
        width: 80%;
        margin: 0 auto;
        font-size: 1.6em;
    }
    .details, .details--down {
        position: static;
        transform: none;
        height: 30vh;
        height: calc(var(--vh, 1vh) * 30);
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .details__bottom {
        width: 255px;
    }
    .btn__arrow-up, .btn__arrow-down {
        display: none;
    }
    .details__top {
        display: none;
    }
    
}
@media only screen and (min-width: 760px) and (orientation: landscape) {
    .main-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        justify-content: center;
        align-items: center;
    }
     .wrapper {
         display: flex;
         flex-direction: row;
         position: relative;
         justify-content: space-evenly;
         align-items: center;
         width: 80%;
         height: 80vh;
         height: calc(var(--vh, 1vh) * 80);
         min-height: 600px;
         max-height: 800px;
         max-width: 950px;
         /* border: 1px solid var(--text-color);
         border-radius: 10px; */
     }
     .search-btn {
         position: absolute;
         top: 50px;
         right: 20px;
     }
      .main, .main--up {
          /* position: static; */
          transform: none;
          width: 50%;
          height: 90%;
          /* border-right: 1px solid var(--text-color); */
          border: 1px solid var(--text-color);
          border-radius: 10px;
          margin:7px;
      }

      .today {
          width: 80%;
          margin: 0 auto;

      }

      .sun-values {
          width: 90%;
          margin: 0 auto;
          font-size: 1.4em;
      }

      .details,
      .details--down {
          position: static;
          transform: none;
          height: 90%;
          width: 50%;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          padding-top: 20px;
          border: 1px solid var(--text-color);
          border-radius: 10px;
          margin:7px;
      }

      .details__bottom {
          width: 255px;
      }

      .btn__arrow-up,
      .btn__arrow-down {
          display: none;
      }

      .details__top {
          display: none;
      }
}


